<section id="auth-home">
  <h2>Acceso</h2>
  <p>Selecciona el modulo al que perteneces.</p>
  
  <article class="container">
    <div class="admin-modulo">
      <h4>Modulo Lideres y administradores</h4>
      <hr>
      <div class="button lideres">
        <p>Entrar</p>
      </div>
    </div>
    <div class="ninos-modulo">
      <h4>Modulo Niños</h4>
      <hr>
      <div class="button ninos"
           routerLink="/auth/ninos/login">
        <p>Entrar</p>
      </div>
    </div>
  </article>
</section>
