#profile-ninos {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    font-family: 'Neue-Bold', sans-serif;
    font-size: 45px;
    margin-bottom: 20px;
  }

  .container-profile {
    width: 500px;
    height: auto;
    border: 2px solid #3bbdc4;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;


    h2 {
      margin-top: 10px;
      text-align: center;
      color: #187e84;
      font-family: 'Neue-Mediu', sans-serif;
      font-size: 18px;
      margin-bottom: 10px;
    }

    hr {
      margin-bottom: 20px;
      border: 1px solid #3bbdc4;
    }

  }

}
