#register-ninos {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;

  h3 {
    font-family: 'Neue-Bold';
    font-size: 45px;
    margin-bottom: 20px;
  }

  form {
    width: 500px;
    height: auto;
    border: 2px solid #3bbdc4;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;

    img {
      display: block;
      width: 130px;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    h2 {
      margin-top: 10px;
      text-align: center;
      color: #187e84;
      font-family: 'Neue-Mediu';
      font-size: 18px;
      margin-bottom: 10px;
    }

    hr {
      margin-bottom: 20px;
      border: 1px solid #3bbdc4;
    }

    p {
      margin-left: 25px;
      margin-bottom: 15px;
      font-family: 'Neue-Roman';
      font-size: 18px;
      color: #187e84;
    }

    .input_email,
    .input_documento,
    .input_fullname_nino,
    .input_fullname_acudiente,
    .input_dob {
      position: relative;
      z-index: 3;
      box-sizing: border-box;
      display: block;
      width: 90%;
      margin: 0 auto;
      height: 60px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      background-color: transparent;
      outline: 0;
      border-width: 2px;
      border-style: solid;
      border-color: #000;
      color: #000;
      font-size: 17px;
      padding-left: 15px;
      padding-right: 15px;
      line-height: 20px;
      padding-top: 22px;
      margin-bottom: 35px;
      font-family: 'Neue-Roman';
    }

    .input_email:focus,
    .input_documento:focus,
    .input_fullname_nino:focus,
    .input_fullname_acudiente:focus,
    .input_dob:focus {
      border-width: 2px;
      border-style: solid;
      border-color: #187e84;
      font-family: 'Neue-Roman';
    }

    .label_email,
    .label_documento,
    .label_fullname_nino,
    .label_fullname_acudiente,
    .label_dob {
      position: absolute;
      color: #000;
      font-size: 18px;
      margin-top: -72px;
      margin-left: 35px;
      z-index: 2;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      font-family: 'Neue-Mediu';
    }

    .input_email:valid+.label_email,
    .input_documento:valid+.label_documento,
    .input_fullname_nino:valid+.label_fullname_nino,
    .input_fullname_acudiente:valid+.label_fullname_acudiente {
      margin-top: -88px;
      font-size: 14px;
      color: #187e84;
    }

    .label_dob {
      color: #000;
      margin-top: -88px;
      font-size: 14px;
    }

    .input_email:focus+.label_email,
    .input_documento:focus+.label_documento,
    .input_fullname_nino:focus+.label_fullname_nino,
    .input_fullname_acudiente:focus+.label_fullname_acudiente,
    .input_dob:focus+.label_dob {
      margin-top: -88px;
      font-size: 14px;
      color: #187e84;
    }

    button {
      display: block;
      width: 200px;
      height: 50px;
      background-color: #000;
      color: #fff;
      font-family: 'Neue-Mediu';
      font-size: 20px;
      margin: 0 auto;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;
      -webkit-transition: all 300ms;
      -moz-transition: all 300ms;
      -ms-transition: all 300ms;
      -o-transition: all 300ms;
      transition: all 300ms;
      cursor: pointer;
      margin-bottom: 40px;
    }

    button:hover {
      color: #3bbdc4
    }

    .error {
      position: absolute;
      color: #E83B07;
      margin-top: -32px;
      margin-left: 25px;
      font-size: 14px;
      font-family: 'Neue-Mediu', sans-serif;
    }

    .checkbox {
      color: #000;
      font-family: 'Neue-Mediu', sans-serif;
      margin-bottom: 35px;
      margin-left: 25px;
      input {
        margin-right: 10px;
      }

      a {
        color: #1c1c1c;
        text-decoration: underline;
        cursor: pointer;
      }

      a:hover {
        color: #000;
      }
    }
  }
}