<section id="profile-admin">
  <h3>Portal Administrador</h3>
  <article class="container-profile">
    <div class="buttons">
      <!-- Crear lider -->
      <button class="lider">
        <i class="bi bi-person-plus"></i>
        <span>Crear Lider</span>
      </button>
      <!-- Crear Administrador -->
      <button class="admin">
        <i class="bi bi-person-plus"></i>
        <span>Crear Administrador</span>
      </button>
    </div>
    <div class="search-bar">
      <input type="text" 
             placeholder="Buscar..." 
             #search
             (keyup.enter)="searchUser(search.value, type.value)"/>
      <select #type>
        <option value="Nombre">Nombre</option>
        <option value="ID">ID</option>
        <option value="Identificacion">Identificación</option>
      </select>
      <button class="btn-search"
              type="button"
              (click)="searchUser(search.value, type.value)">
              Buscar Niño <i class="bi bi-search"></i>
      </button>
    </div>
  </article>
</section>