<section id="profile-admin">
  <h3>Portal Administrador</h3>
  <article class="container-profile">
    <div class="buttons">
      <!-- Crear lider -->
      <button class="lider">
        <i class="bi bi-person-plus"></i>
        <span>Crear Lider</span>
      </button>
      <!-- Crear Administrador -->
      <button class="admin">
        <i class="bi bi-person-plus"></i>
        <span>Crear Administrador</span>
      </button>
    </div>
    <div class="search-bar">
      <input type="text" 
             placeholder="Buscar..." 
             #search
             (keyup.enter)="searchUser(search.value, type.value)"/>
      <select #type>
        <option value="Nombre">Nombre</option>
        <option value="ID">ID</option>
        <option value="Identificacion">Identificación</option>
      </select>
      <button class="btn-search"
              type="button"
              (click)="searchUser(search.value, type.value)">
              Buscar Niño <i class="bi bi-search"></i>
      </button>
    </div>

    <p-table [value]="usersSearch" 
             [tableStyle]="{'min-width': '50rem'}"
             id="table-results"
             *ngIf="usersSearch.length > 0">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Identificación</th>
          <th>Puntos</th>
          <th [style]="{'width': '230px'}">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body"
                   let-user>
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.fullname }}</td>
          <td>{{ user.documento }}</td>
          <td>{{ user.points }}</td>
          <td>
            <button class="action"
                    title="Registrar Niño(a)">
              <i class="bi bi-person-vcard-fill"></i> Registrar              
            </button>
            <button class="action"
                    title="Editar Niño">
              <i class="bi bi-pencil-square"></i> Editar
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </article>
</section>

<app-loading></app-loading>