
<section id="home-page">
  <article class="content">
    <img src="../../assets/imgs/ELRIOC.png">
    <h1>Portal Niños <br>El Río Iglesia</h1>
    <p>Iglesia donde vienen los niños, juegan, son alegres y se sumergen en la presencia del Señor cumpliendo la palabra de
    Jesús que dejen ir a los niños a la presencia de Jesús.</p>
    <button>Acceder</button>
  </article>
</section>

<div class="circle circle1"></div>
<div class="circle circle2"></div>
<div class="circle circle3"></div>
<div class="circle circle4"></div>